.empty {
  background-color: white;

  height: 300vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.figurs {
  position: relative;
  background-color: aqua;
  height: 300px;
  width: 400px;
  border: 5px solid black;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.figure-1 {
  position: absolute;
  top: 20px;
  left: 30px;
  background-color: rgba(255, 0, 0, 0.6);
  width: 70px;
  height: 70px;
}
.figure2 {
  position: absolute;
  top: 15%;
  left: 15%;
  background-color: rgba(250, 200, 170, 0.6);

  width: 70px;
  height: 70px;
}
.figure3 {
  position: absolute;
  top: 25%;
  left: 25%;
  background-color: rgba(200, 100, 100, 0.6);

  width: 70px;
  height: 70px;
}
.figure4 {
  position: absolute;
  top: 200px;
  left: 200px;
  background-color: blue;
  width: 70px;
  height: 70px;
}
.figure5 {
  position: sticky;
  top: 0;
  left: 100%;
  background-color: green;
  width: 70px;
  height: 70px;
}
.figure6 {
  position: fixed;
  top: 400px;
  right: 0;
  background-color: orange;
  width: 70px;
  height: 70px;
}
