span.navbar-brand {
    font-size: 14px;
}
.dropdown .dropdown-toggle  {
    font-size: 14px;
    text-decoration: none;
}
.dropdown .dropdown-toggle ul li a {
    font-size: 14px;
}
button.btn-outline-gray-400 {
    border: 1px solid rgb(193, 199, 198);
}