* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
}
header {
  background: rgb(79, 101, 79);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  height: 70px;
}
header .logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header .navbar-right ul li {
  border: 1px solid green;
}
